<div class="login-container">
  <div class="form-container">
      <form class="form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <p class="title">Login</p>
          <label>
              <input required="" formControlName="username" type="text" class="input" autocomplete="disabled" >
              <span>Username</span>
          </label> 
              
          <label>
              <input required="" formControlName="password" placeholder="" type="password" class="input"  autocomplete="disabled" >
              <span>Password</span>
          </label>
        
          <button class="submit mt-3" type="submit">Submit</button>
      </form>
    <p class="signin mt-3">Don't have an acount ? <a href="#">SignUp</a> </p>
    </div>
</div>
